
body {
    background-image: linear-gradient(to right top, #a48efa, #9f7cffea, #9f7cfff3, #9f7cfff7, #9f7cff);
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
    height: 100%;
    box-sizing: border-box;
}
.signup-form {
    height: 82vh;
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: -12px 10px 20px rgba(0, 0, 0, 0.128);
    border-radius: 8px;
    padding: 3rem;
    box-sizing: border-box;
    min-width:200px;
    text-align: center;
    background-color: white;
    z-index: 1;
    position: relative;
    animation: slide-in 1s ease-out forwards;
    opacity: 0;
}
@keyframes slide-in {
    from {
      /* transform: translateX(-100%); */
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.signup-form h1 {
    margin-top: 8rem; 
    margin-bottom: -1rem;
    font-size: 2.5em; 
}
.signup-form h3 {
    margin-bottom: 2rem; 
    font-weight: 200;
}
.signup-form p{
    margin-bottom: 0.5rem; 
    margin-top: 2rem; 
    font-size: small;
    text-align: end;

}
.form-group {
    text-align: start;
}
label {
    display: block;
    margin-bottom: 0.5rem;
}
input {
    width: 100%;
    padding: 0.5rem 0;
    border: none; 
    border-bottom: 1px solid #ccc; 
    border-radius: 0; 
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    background-color: transparent;
}
input:focus {
    border-bottom-color: #885efc; 
}
.error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
}
.SignupElements {
    flex-grow: 2;
    height: 82vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 20px 12px 52px rgba(0, 0, 0, 0.181);
    padding-top: 4rem;
    padding-left: 4rem;
    overflow: hidden;
    text-align: start;
    position: relative;   
}
.imageLogin{
    height: 40rem;
    background-image: url('../assets/clictochat-e1620817319308.webp');
    border-top-right-radius: 8px;
    z-index: 0
}
.SignupElements h1 {
    margin-top: 2rem;
    margin-bottom: -2rem;
    font-size: 3em;
    font-weight: bolder;
}
.SignupElements h3 {
    margin-bottom:2rem; 
    font-size: 2.5em; 
    font-weight: 200;
}
.SignupElements p {
    margin-bottom: 2rem;
    font-size: 1.2em;
    font-weight: 100;
}